html,
body {
  margin: 0;
  padding: 0;
}

.layout-wrapper .layout-header {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 999999;
}
@keyframes subAppsShow {
  0% {
    background-color: rgba(26, 13, 21, 0.1);
  }
  15%{
    background-color: rgba(26, 13, 21, 0.2);
  }
  25% {
    background-color: rgba(26, 13, 21, 0.3);
  }
  35%{
    background-color: rgba(26, 13, 21, 0.4);
  }
  50%{
    background-color: rgba(26, 13, 21, 0.5);
  }
  65%{
    background-color: rgba(26, 13, 21, 0.6);
  }
  75% {
    background-color: rgba(26, 13, 21, 0.7);
  }
  90% {
    background-color: rgba(26, 13, 21, 0.8);
  }
  100% {
    background-color: rgba(26, 13, 21, 0.9);
  }
}
.layout-wrapper .layout-header .sub-apps {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.layout-wrapper .layout-header .sub-apps li {
  margin-bottom: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.layout-wrapper .layout-header .sub-apps:hover {
  border-radius: 5px;
  color: #fff;
  animation: subAppsShow  0.4s infinite;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

.layout-wrapper .layout-header .sub-apps li.active {
  color: #42b983;
  text-decoration: underline;
}

