.left_bar{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
}
.first_level{
  display: flex;
  position: relative;
  height: 100%;
  margin-left: 8px;
  padding:0 8px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background-color: #454646;
    .second_box{
      display: block;
    }
  }
}
.second_box,
.three_box{
  
  width: 300px;
  border-radius: 4px;
  padding: 4px 0;
  background-color: #252526;
  border: 1px solid #303030;
  .second_level,
  .three_level{
    position: relative;
    display: flex;
    white-space: nowrap;
    word-wrap: normal;
    /*display: block;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    margin:0 4px;
    padding:0 13px 0 26px;
    &:hover{
      background-color: #04395e;
    }
  }
}
.second_box{
  /* display: none;*/
  position: absolute;
  top: 20px;
  left: 0;
  .second_level{
    &:hover{
      &>.three_box{
        display: block;
      }
    }
  }
  .line_between{
    margin:4px 0;
    border-bottom: 1px solid #303030;
  }
}
.second_level_children{
  position: relative !important;

}
.three_box{
  /*display: none;*/
  display: block;
  position: absolute;
  top: -4px;
  right: -304px;
}