// 弹窗padding
.el-dialog .el-dialog__body {
  padding: 0px 0px;
}
// 抽屉开始
/deep/ .el-drawer__wrapper{
  .el-drawer__header{
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    span{
      font-size: 14px;
      color: #666666;
      font-weight: 600;
      text-align: left;
      font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
    }
  }
}

// 弹窗开始
/deep/ .el-dialog{
  overflow: hidden;
  border-radius: 4px;
}
/deep/ .el-dialog__header {
  border-bottom: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  padding: 0px 20px 0px 20px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  .el-dialog__title {
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    text-align: left;
    font-family: "微软雅黑 Bold", "微软雅黑", sans-serif;
  }
}

/deep/ .el-dialog__body {
  .el-form-item {
    margin-bottom: 20px;
  }
}
/deep/ .el-dialog__footer {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 20px;
  height: 60px;
  border-top: 1px solid #eee;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 1px 0px #e9e9e9;
}
