//搜索区块
.div-search {
  background: #ffffff;
  padding: 20px 10px;
  border-radius: 3px;
}
/deep/ .el-input__inner {
  border-radius: 3px;
}
/deep/ .el-input--small .el-input__inner {
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  font-family: "微软雅黑", sans-serif;
  border-radius: 3px;
}
/deep/ .el-button--small {
  height: 30px;
  line-height: 20px;
  padding: 0px 12px !important;
  font-family: "微软雅黑", sans-serif;
  margin-left: 5px;
}
/deep/ .el-button {
  font-size: 12px;
  padding: 0px 0px;
  margin: 0px 0px;
}
/deep/ .el-button + .el-button {
  margin-left: 6px !important;
}
