//表格区块
.div-table-button {
  background-color: #ffffff;
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;

  .div-table-button__left {
    min-width: 400px;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px 10px 0px;

    /deep/ .el-button {
      height: 30px;
      border-radius: 2px;
    }
  }

  .div-table-button__right {
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0px 20px 10px 0px;

    /deep/ .el-button {
      width: 30px;
      height: 30px;
      padding: 0 !important;
      border-radius: 50%;
    }

    .el-button--small {
      padding: 0 !important;
    }
  }
  // 不需要圆角的按钮
  .div-table-button__right_not_circle{
    min-width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0px 20px 10px 0px;

    /deep/ .el-button {
      height: 30px;
      border-radius: 2px;
    }
  }
}
